<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Contact Me</h1>
<div>
     <p class = "fontbody">
      Phone : +66624655885 <br>
      Email : pparinya248@gmail.com<br>
      Lind ID : aitao99<br>
      Address : 248 Chuamchom Grand Vill<br>
      Bangna Bangna Bangkok 10260<br>
</p>
      
        
</div>
</body>
</html>