<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<h1>PORTFOLIO</h1>

<table align="center">
<tr>
<td>
        <img src="/images/1.jpg" style="width:150px;height:150px;">
    
</td>
<td valign="top">
    - Windows<br>
    - Linux<br>
    - iOS<br>
</td>
<td>
        <img src="/images/2.jpg" style="width:150px;height:150px;">
    
</td>
<td valign="top">
        - Windows<br>
        - Linux<br>
        - iOS<br>
    </td>
</tr>
<tr>
    <td>
            <img src="/images/3.jpg" style="width:150px;height:150px;">
        
    </td>
    <td valign="top">
        - Windows<br>
        - Linux<br>
        - iOS<br>
    </td>
    <td>
            <img src="/images/4.jpg" style="width:150px;height:150px;">
        
    </td>
    <td valign="top">
            - Windows<br>
            - Linux<br>
            - iOS<br>
        </td>
</tr>
<tr>
        <td>
                <img src="/images/1.jpg" style="width:150px;height:150px;">
            
        </td>
        <td valign="top">
            - Windows<br>
            - Linux<br>
            - iOS<br>
        </td>
        <td>
                <img src="/images/1.jpg" style="width:150px;height:150px;">
            
        </td>
        <td valign="top">
                - Windows<br>
                - Linux<br>
                - iOS<br>
            </td>
    </tr>
    

</table>
</body>
</html>