<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
            
        <form action="#">
             <fieldset>
                 <table align="center">
                 <legend><h3>Register</h3> </legand>
                 <tr>
                    <td><label>First Name :</label></td>
                    <td></label><input type="name" placeholder="Your Name.."/><br></td>
                 </tr>
                <tr>
                    <td><labe>Last Name :</labe></td>
                    <td><input type="last" placeholder="Your Last Name.."/><br></td>
                </tr>
                <tr>
                    <td><labe>Password :</td>
                     <td></labe><input type="password" placeholder="Password.."/><br></td>
                 </tr>
                 <tr>
                     <td><labe>Comfirm Password :</td>
                     <td></labe><input type="password" placeholder="Comfirm Password.."/><br></td>
                 </tr>
                 <tr>
                     <td><labe>Email :</labe></td>
                     <td><input type="email" placeholder="Your Email.."/><br></td>
                 </tr>
                 <tr>
                     <td><labe>Confirm Email :</labe></td>
                     <td><input type="email" placeholder="Confirm Email.."/><br></td>
                 </tr>
                 <tr>
                     <td><labe>Confirm Email :</labe></td>
                     <td>
                         <select name="date">
                             <option value="1">1</option>
                             <option value="2">2</option>
                             <option value="3">3</option>
                             <option value="4">4</option>
                             <option value="5">5</option>
                             <option value="6">6</option>
                             <option value="7">7</option>
                             <option value="8">8</option>
                             <option value="9">9</option>
                             <option value="10">10</option>
                             <option value="11">11</option>
                             <option value="12">12</option>
                             <option value="13">13</option>
                             <option value="14">14</option>
                             <option value="15">15</option>
                             <option value="16">16</option>
                             <option value="17">17</option>
                             <option value="18">18</option>
                             <option value="19">19</option>
                             <option value="20">20</option>
                             <option value="21">21</option>
                             <option value="22">22</option>
                             <option value="23">23</option>
                             <option value="24">24</option>
                             <option value="25">25</option>
                             <option value="26">26</option>
                             <option value="27">27</option>
                             <option value="28">28</option>
                             <option value="29">29</option>
                             <option value="30">30</option>
                             <option value="31">31</option>
                             </select>
                         <select name="month">
                                 <option value="Jan">1</option>
                                 <option value="Feb">2</option>
                                 <option value="Mar">3</option>
                                 <option value="Apr">4</option>
                                 <option value="May">5</option>
                                 <option value="Jun">6</option>
                                 <option value="Jul">7</option>
                                 <option value="Aug">8</option>
                                 <option value="Sep">9</option>
                                 <option value="Oct">10</option>
                                 <option value="Nov">11</option>
                                 <option value="Dec">12</option>
                                 </select>
                                 <select name="year">
                                         <option value="1980">1980</option>
                                         <option value="1981">1981</option>
                                         <option value="1980">1982</option>
                                         <option value="1981">1983</option>
                                         <option value="1980">1984</option>
                                         <option value="1981">1985</option>
                                         <option value="1980">1986</option>
                                         <option value="1981">1987</option>
                                         <option value="1980">1987</option>
                                         <option value="1981">1988</option>
                                         <option value="1980">1989</option>
                                         <option value="1981">1990</option>
                                         <option value="1980">1991</option>
                                         <option value="1981">1992</option>
                                         <option value="1980">1993</option>
                                         <option value="1981">1994</option>
                                         <option value="1980">1993</option>
                                         <option value="1981">1994</option>
                                         <option value="1980">1995</option>
                                         <option value="1981">1996</option>
                                         <option value="1980">1997</option>
                                         <option value="1981">1998</option>
                                         <option value="1980">1999</option>
                                         <option value="1981">2000</option>
                                         <option value="1980">2001</option>
                                         <option value="1981">2002</option>
                                         </select>
                         <br>
                     </td>
                 </tr>
                 <tr>
                     <td><labe>Gender :</labe></td>
                     <td><input type="radio" name=gender value="male" checked>Male
                         <input type="radio" name=gender value="male">Women<br></td>
                     </tr>
                 <tr>
                     <td><input type="submit" value"Submit"><input type ="reset" value="Reset">
                     </td>
                     
                 </tr>
            </fieldset>
         </form>
     </table>
         </div>
</body>
</html>