<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<h1>Skill</h1>
<div>
        <ul>
                        <li>HTML</li><br>
                        <li>PHP</li><br>
                        <li>MySQL</li><br>
                        <li>SQL Server</li><br>
                        <li>JAVA Script</li><br>
                        <li>Photo Shop</li><br>
                </ul>
</div>
</body>
</html>