<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ="stylesheet" type = "text/css" href = "css/style.css">
    <title>Document</title>
</head>
<body>
    <ul class ="navbar">
        <li><a class="active" href="/">About Me</a></li>
        <li><a href="/skill">Skill</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        </ul>

<%-body%>

</body>
</html>