.flex-container {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
  }

.item {
    background: white;
    padding: 10px;
    margin: 5px;
}

.div_center{

    border: 3px solid black;
}

.flex-box_center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.h5{
    align-items: center;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;   
}

.button:hover {background-color: #0400ff}

.button:active {
  background-color: #0400ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.box1 {
    background: red;
    padding: 5px;
    margin: 2px;
    border-style: dotted;
}
.box2 {
    background: #15ff00;
    padding: 5px;
    margin: 2px;
    border-style: solid;
}
.box3 {
    background: #0026ff;
    padding: 5px;
    margin: 2px;
    border-style: double;
}

#button01{
    color: brown;
}s