
    body {
        padding: 60px;
    }
    .group-pic {
        width: 800px;
    }
    .group-small {
        width: 730px;
    }
    .big-img {
        display: block;
        margin: 60px auto;
        width: 800px;
        height: 500px;
    }
    .small-img {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        width: 350px;
        height: 300px;
        border-width: 0px;
    }
