<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include navbar %>
    <%- body %>
    <% include footer %>

<!--
    <div class="nav">
        <a href="/">Index Page</a>
        <a href="/about">About Page</a>
    </div>
    
    <%-body%>

    <div>
        this foot page
    </div>
    -->
</body>
</html>