<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>salary</th>
            <th>role</th>
        </tr>
    </thead>
    <tbody>
        
        <% employees.forEach(users => { %>
            <tr>
                <td><%= users.id %></td>
                <td><%= users.first_name %></td>
                <td><%= users.last_name %></td>
                <td><%= users.salary %></td>
                <td><%= users.role %></td>
            </tr>
        <% }); %>
    </tbody>

    <!-- <tbody>
        <% employees.forEach(person => { %>
            <tr>
                <td><%= person.id %></td>
                <td><%= person.firstname %></td>
                <td><%= person.lastname %></td>
                <td><%= person.salary %></td>
                <td><%= person.role %></td>
            </tr>
        <% }) %>
    </tbody> -->
</table>