.navbar {
    list-style-type: none;
    font-family: monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(160, 153, 153);
}
.navbarcon {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #111;
    background-color: rgba(192, 189, 190, 0.911);
}
.active {
    background-color: rgb(61, 164, 211);
}
ul{
    font-size: 16px;
    color:green;
    margin: 0 auto;
    }
li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(72, 174, 221);
}
img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
    }
    
h1{
    color:orangered;
    text-align: center;
}
body{
    color:blue;
}
.fontbody{
    color:red;
    font-size: 16px;
    font-family:monospace;
    text-indent: 0px;
    margin: 100px;
}
p{
    margin: 20px 20px;
    text-indent: 50px;
    font-family: monospace;
    font-size:16px;
}
div{
    text-align:justify;
    
}
form{
    padding: 0 auto;
}
table, th, td {
    border: 0px solid black;
    padding: 20px;
           
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    
}

div.desc {
    padding: 5px;
    text-align: left;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }