         @media (min-width: 576px) {
     
        /* Medium devices (tablets, 768px and up) */
       @media (min-width: 768px) {
           
       }
        /* Large devices (desktops, 992px and up) */
       @media (min-width: 992px) {
            .flex {
                display: flex;
                align-items: center;
            }
              
       }
        /* Extra large devices (large desktops, 1200px and up) */
       @media (min-width: 1200px) {
           
       }