
 
<form method="POST">
    username: <input name="email"><br>
    password: <input type="password" name="password"><br>
    confirm password: <input type="password" name="password1"><br>
    <button>Sign Up</button>
    </form>